django>=1.5.1
git+git://github.com/django-debug-toolbar/django-debug-toolbar.git@master
#https://github.com/django-debug-toolbar/django-debug-toolbar/archive/f92aba225936fa768c098a8f1db51125ac1715ec.zip
